/bin/Debug/net8.0-windows/
*.exe
*.txt
*.dll
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/Debug/net8.0-windows/apphost.exe
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/Debug/net8.0-windows/WhatsAppLinkerApp.csproj.FileListAbsolute.txt
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/Debug/net8.0-windows/WhatsAppLinkerApp.assets.cache
WhatsAppLinkerApp/Form1.ar-SA.resx
WhatsAppLinkerApp/Form1.resx
WhatsAppLinkerApp/GroupsDisplayForm.ar-SA.resx
WhatsAppLinkerApp/GroupsDisplayForm.resx
WhatsAppLinkerApp/QrDisplayForm.ar-SA.resx
WhatsAppLinkerApp/QrDisplayForm.resx
WhatsAppLinkerApp/WhatsAppLinkerApp.csproj.user
WhatsAppLinkerApp/WhatsAppLinkerApp/.gitignore
WhatsAppLinkerApp/WhatsAppLinkerApp/runToExtractCode.bat
WhatsAppLinkerApp/Settings.settings
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/Debug/net8.0-windows/WhatsAppLinkerApp.assets.cache
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/Debug/net8.0-windows/apphost.exe
WhatsAppLinkerApp/WhatsAppLinkerAppSingleInstance/
**.cs
WhatsAppLinkerApp/WhatsAppLinkerAppSingleInstance/
**.exe
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/project.nuget.cache
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/WhatsAppLinkerApp.csproj.nuget.dgspec.json
WhatsAppLinkerApp/WhatsAppLinkerApp/obj/Debug/net8.0-windows/WhatsAppLinkerApp.assets.cache
